<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#"><strong>Sunbeam</strong></a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

          <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Home</a>
          </li>

          <li class="nav-item" *ngIf="loggedIn()">
              <a class="nav-link" ><i class="far fa-address-book"></i>Your Group</a>
          </li>

          <li class="nav-item">
              <a class="nav-link"><i class="far fa-clone"></i>Placeholder(Calendar)</a>
          </li>

          <li class="nav-item" *ngIf="!loggedIn()">
              <a class="nav-link" [routerLink]="['/login']"><i class="far fa-chart-bar"></i>Login</a>
          </li>

          <li class="nav-item" *ngIf="!loggedIn()">
              <a class="nav-link" [routerLink]="['/register']"><i class="far fa-copy"></i>Register</a>
          </li>

          <li class="nav-item" *ngIf="loggedIn()">
            <a class="nav-link" [routerLink]="['/profile']"><i class="far fa-copy"></i>Profile</a>
        </li>

      </ul>
  </div>
</nav>

