
<!-- ELDER LIST VIEW -->
<div class="container" *ngIf="!selected">
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let elder of elders" (click) = "selected = elder">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i1.sndcdn.com/avatars-000103501656-iji6a5-t500x500.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="ml-3 mt-3">{{elder.firstName}} {{elder.lastName}} - {{elder.elderOverview}}</h3><br>

            <h3 class="ml-3">{{elder.gender}}</h3>



          <p class="card-text"><small class="text-muted">{{elder.lastUpdate}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ELDER DETAIL VIEW -->
<div class="container" *ngIf="selected">
  <button mat-raised-button color="primary" class="mb-2" (click)="selected = null">View All</button>
  <div class="profile-header">
    <div class="profile-img">
      <img src="https://i1.sndcdn.com/avatars-000103501656-iji6a5-t500x500.jpg" width="200" alt="Profile Image">
    </div>
    <div class="profile-nav-info">
      <h4 class="address">{{selected.firstName}} {{selected.lastName}}</h4>
      <h4 class="address">{{selected.elderOverview}}</h4>
    </div>
  </div>

  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <p class="user-mail">{{selected.elderCaretakers}}</p>
        <div class="user-bio">
          <h3>Bio</h3>
          <p class="bio">Birthday: {{selected.birthdate}}</p>
          <p class="bio">Height: {{selected.height}}ft</p>
          <p class="bio">Weight: {{selected.weight}}lbs</p>
          <p class="bio">Joined on: {{selected.createDate}}</p>
        </div>
      </div>
    </div>


    <div class="right-side">
      <div class="container">
        <div class="p-5 bg-white rounded shadow mb-5" id="tabs-container">
          <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
            <li class="nav-item flex-sm-fill">
              <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Feed</a>
            </li>
          </ul>


          <div id="myTabContent" class="tab-content">
            <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
              <div>
              <h4>Appointments</h4>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let appointment of selected.appointments">
                  <div class="ms-2 me-auto">
                    <div>{{appointment.description}} on {{appointment.apptDate}} at {{appointment.location}}</div>
                  </div>
              </ol>

                <h4>Reminders</h4>
                <ol class="list-group list-group-numbered">
                  <div *ngFor="let appointment of selected.appointments">
                    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let reminder of appointment.reminders">{{reminder.description}}</li>
                  </div>

                    <h4>Medications</h4>
                    <li *ngFor="let medication of selected.medications">{{medication.medication}}</li>
                </ol>
              </div>


              <h4></h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

