
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="styleseet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
<br>





<body class="landing-page">
    <div class="main main-raised" id="home-main-block">
      <div class="container">
          <div class="row"><br>
            <img src="https://i.ibb.co/1KjKm0V/Illustration-15.png" class="img-fluid border-radius-lg mt-4 h-75 w-75 shadow rounded" id="center">
        <div class="col-md-6 pb-5">
          <h1 class="title">Real connections start here.</h1>
                  <h4>Connecting families, streamlining communication and planning. Making life <strong>easier.</strong></h4>
        </div>
          </div>
      </div>
  </div>
  <br><br><br>

  <div class="main main-raised">
    <div class="container">
        <div class="section text-center">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h2 class="title">What is Sunbeam?</h2>
                      <h5 class="description">Sunbeam connects families, caretakers, and senior citizens. Whether in permanent care, temporary care, or simply staying with other family members, Sunbeam provides a centralized space for all involved parties to coordinate care and appointments.</h5>
                  </div>
              </div>

        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">mms</i>
                </div>
                <h4 class="info-title">Communication</h4>
                <p>Communicate with other family members or caretakers. Leave notes for the entire group to inform them of an event or to simply say hello to your loved one.</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">security</i>
                </div>
                <h4 class="info-title">Protected Data</h4>
                <p>Medical records, medications, and medicine logs are confidential and unable to be viewed by site moderators. Your data stays with you.</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">calendar_month</i>

                </div>
                <h4 class="info-title">Planning</h4>
                <p>Set appointments for the client that the entire group can track. Set medication or event reminders that your group can track.</p>
              </div>
            </div>
                  </div>
        </div>
          </div>

        <div class="section text-center">
            <h2 class="title">Testimonies</h2>
            <div class="team">
                <div class="row">
                  <div class="col-md-4">
                    <div class="team-player">
                      <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                          <img src="https://st3.depositphotos.com/3591429/13178/i/600/depositphotos_131787812-stock-photo-senior-retirement-meet-up.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">

                        </div>
                          <h4 class="card-title">Nick & John<br>
                            <small class="card-description text-muted">Clients</small>
                          </h4>

                        <div class="card-body">
                          <p class="card-description">Sunbeam has helped us communicate and plan events with our family members and staff. Sharing reminders with our friends and family has also led to spending more time with our family.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="team-player">
                      <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                          <img src="https://st3.depositphotos.com/2249091/12531/i/600/depositphotos_125316416-stock-photo-nurse-taking-blood-pressure.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">

                        </div>
                          <h4 class="card-title">Andrea<br>
                            <small class="card-description text-muted">Nurse</small>
                          </h4>

                        <div class="card-body">
                          <p class="card-description">Sunbeam simplified my workflow when it came to keeping the family and other staff members informed about the specific status of a client.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="team-player">
                      <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                          <img src="https://st2.depositphotos.com/2249091/12404/i/600/depositphotos_124040830-stock-photo-kind-carer-teaching-old-lady.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">

                        </div>
                          <h4 class="card-title">Jennifer<br>
                            <small class="card-description text-muted">Daughter</small>
                          </h4>

                        <div class="card-body">
                          <p class="card-description">Communicating with staff and my father has become much easier and constand after we joined Sunbeam. My mother is not good with techonology but with Sunbeam she knows where to go to find any messages and reminders due to the sites accessibility.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>



</body>
