<footer class="footer-16371">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-md-9 text-center">
  <div class="footer-site-logo mb-4">
  <a href="#">Sunbeam</a>
  </div>
  <ul class="list-unstyled nav-links mb-5">
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Contact</a></li>
  </ul>
  <div class="social mb-4">
  <h3>The Team</h3>
  <ul class="list-unstyled nav-links mb-5">
  <li><a href="https://www.linkedin.com/in/kira-stout/">Kira Stout</a></li>
  <li><a href="https://www.linkedin.com/in/sebi-t/">Sebastian Tello</a></li>
  <li><a href="https://www.linkedin.com/in/domjs/">Dominic Surina</a></li>
  <li><a href="https://www.linkedin.com/in/gerardo-quintero-iii/">Jerry Quintero</a></li>

  </ul>
  <ul class="list-unstyled">
  <li class="in"><a href="#"><span class="icon-instagram"></span></a></li>
  <li class="fb"><a href="#"><span class="icon-facebook"></span></a></li>
  <li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
  <li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
  <li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li>
  </ul>
  </div>
  <div class="copyright">
  <p class="mb-0"><small>© Sunbeam. All Rights Reserved.</small></p>
  </div>
  </div>
  </div>
  </div>
  </footer>
